<div class="container-profile text-center">
    <% @users.each do |user| %>
    <div class="card col-md-4 col-12" >
      <div class="well">
        <%= gravatar_for user %>
        <div class="card-body ">
          <h4 class="card-title"><%= user.first_name %></h4>
          <p class="card-text"><%= user.email %></p>
          <div class="">
            <%= friend_status(user) %>
          </div>
          <%= link_to 'See Profile', user, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
</div>
