<div class="col-12">
    <div class="well">
      <span>Posted <%= link_to time_ago_in_words(post.created_at), post %> ago</span>
      <p class="mb-0"><%= post.content %></p>
      <div>
        <button >
          <%= like_unlike(post) %> (<%= post.likes.size%>)
        </button>
        <button >
          <%= link_to "Comments", post%> (<%= post.comments.count %>)
        </button>
        <button >
          <%= link_to "Delete", '#'%>
        </button>
      </div>
    </div>
</div>
